{{ with resources.GetRemote
"https://purchase-api.dynabic.com/v1.2/productfamily/site-asposeorg?applyDisplayOrder=true&includeProducts=false" }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}

{{ range . }}
{{ if not (eq .Id 196263.0) }}
<h4>{{ .Name }}</h4>
{{ $url := print "https://purchase-api.dynabic.com/v1.2/productFamily/site-asposeorg/name-" "" .Name }}
{{ with resources.GetRemote $url }}
{{ $type := "platform"}}
{{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
.Content }} {{ with transform.Unmarshal . }}
{{ range .Products }}
{{ if eq .isArchived false }}
{{ $productName := .Name }}
{{ $productName = replace $productName "." "-" }}
{{ if strings.Contains $productName "+" }}
{{ $productName = replace $productName "+" "p" }}
{{ end }}
{{ if strings.Contains $productName "Aspose" }}
{{ $type = "plugin" }}
{{ end }}
{{ $product := dict "Id" .Id "Name" .Name "Description" .Description "weight" .DisplayOrder "FamilyId" .FamilyId "LargeImg" .LargeLogoImageSrc "ProductPageUrl" .CommercialPageUrl "type" $type | jsonify (dict "prefix" " " "indent" "  ") }}

{{/* 1. */}}{{ $string := $product }}
    {{/* 2. */}} {{ $filename := printf "product/%s.md" (urlize $productName) }} 

    {{/* 3. */}} {{ $resource := resources.FromString $filename $string }} 

    {{/* 4. */}} {{ $file := $resource.RelPermalink }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

