{{ define "main" }}
{{- partial "header.html" . -}}
<div class="container">
{{ with resources.GetRemote
"https://purchase-api.dynabic.com/v1.2/productfamily/site-asposeorg?applyDisplayOrder=true&includeProducts=false"
}} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
transform.Unmarshal . }}
<div class="row">
  {{ range . }}
  {{ if not (eq .Id 196263.0) }}
  <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 d-flex">
    <div class="card mt-3 mb-3 flex-fill list-card">
      <div class="card-body list-card-body">
        {{ with $imgUrl := substr .SmallLogoImageSrc 2 }}
        <img
          class="product-icon"
          src="{{ printf "https://%s" $imgUrl }}"
          width="50"
          height="50"
          alt="Product logo"
        />
        {{ else }}
        {{ $noimage := resources.Get "images/noimage.png" }}
        <img
          class="product-icon"
          src="{{ $noimage.RelPermalink }}"
          width="50"
          height="50"
          alt="Product logo"
        />
        {{ end }}
        {{ $split := split .Name " " }}
        {{ $splitName := index $split 0 }}
        <h5 class="card-title"><strong>{{ $splitName }}</strong></h5>
        {{ $descc := print "desc-" "" .Name }}
        <p class="card-text mb-4 limited-text">
            {{ i18n $descc . }}
        </p>
       
        <p class="card-text mt-5">
          {{ i18n "from" . }} <br />
            {{ $name := .Name }}
            {{ $dataJ := getJSON "data/products.json" }}
            {{ range $dataJ }}
            {{ range .products }}
            {{ if eq .name $name }}
            <strong style="font-size: x-large; color: black; line-height: 1em">${{ .price }}</strong>
            {{end}}
            {{end}}
            {{end}}
          <br />
        </p>

        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ i18n "choose-platform" . }}
          </a>
          

          <ul class="dropdown-menu">
            {{ $id := .Id }}
            {{ range $.Site.Pages }}
            {{ if eq .Params.FamilyId $id }}
            {{ if not (strings.Contains .Params.Name "Product Family") }}
            <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Params.Name }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
          </ul>
          
        </div>

       
        
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <span style="margin-bottom: 2em;">{{ i18n "note" .}} <strong>USD</strong> </span>
</div>
{{ end }}{{ end }}{{ end }}{{ end }}
</div>
{{ end }}